.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.col {
  max-width: 400px;
  margin: 15px;
}
.movieImage {
  border-radius: 20px;
}
.movieDetails {
  font-size: 1.5rem;
}
